.load_more_btn {
  padding: 10px 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 12px 0 rgba(161, 161, 161, 0.604);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s;
  color: black;

  &:hover {
    scale: 1.1;
    transition: 0.5s;
  }
}
