.header {
  min-width: 100%;
  position: relative;
  height: 5rem;
  background-image: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);
  text-align: center;
  animation: gradientAnimation 1s linear infinite alternate;

  @keyframes gradientAnimation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}

.search_input {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 6px 18px 0px rgba(244, 244, 244);
  width: 30rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  input {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    background-color: #fff;
    padding: 10px;
    border: 0;
    outline: none;
    transition: 0.3s;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}

.custom_select1,
.custom_select2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;

  select {
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    transition: 0.3s;

    &::-ms-expand {
      display: none;
    }

    &:after {
      content: "\25BC";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }
}

@media (max-width: 767px) {
  .search_input {
    max-width: none;
    width: calc(100% - 40px);
  }
}
